--
-- PostgreSQL database dump
--

\restrict EblgE2RwbYER5jBuQEMe7f9Jlopgm8ADgPwc66llfPAjAK4i7wnKcuguyvS3COe

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: luna_app
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO luna_app;

--
-- Name: conversations; Type: TABLE; Schema: public; Owner: luna_app
--

CREATE TABLE public.conversations (
    id integer NOT NULL,
    user_id integer NOT NULL,
    title character varying(200) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.conversations OWNER TO luna_app;

--
-- Name: conversations_id_seq; Type: SEQUENCE; Schema: public; Owner: luna_app
--

CREATE SEQUENCE public.conversations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.conversations_id_seq OWNER TO luna_app;

--
-- Name: conversations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: luna_app
--

ALTER SEQUENCE public.conversations_id_seq OWNED BY public.conversations.id;


--
-- Name: emotions; Type: TABLE; Schema: public; Owner: luna_app
--

CREATE TABLE public.emotions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    emotion character varying(50) NOT NULL,
    intensity integer NOT NULL,
    note text,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.emotions OWNER TO luna_app;

--
-- Name: emotions_id_seq; Type: SEQUENCE; Schema: public; Owner: luna_app
--

CREATE SEQUENCE public.emotions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.emotions_id_seq OWNER TO luna_app;

--
-- Name: emotions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: luna_app
--

ALTER SEQUENCE public.emotions_id_seq OWNED BY public.emotions.id;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: luna_app
--

CREATE TABLE public.messages (
    id integer NOT NULL,
    conversation_id integer NOT NULL,
    role character varying(20) NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.messages OWNER TO luna_app;

--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: luna_app
--

CREATE SEQUENCE public.messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messages_id_seq OWNER TO luna_app;

--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: luna_app
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: luna_app
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(100),
    email character varying(255),
    password_hash character varying(255)
);


ALTER TABLE public.users OWNER TO luna_app;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: luna_app
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO luna_app;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: luna_app
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: conversations id; Type: DEFAULT; Schema: public; Owner: luna_app
--

ALTER TABLE ONLY public.conversations ALTER COLUMN id SET DEFAULT nextval('public.conversations_id_seq'::regclass);


--
-- Name: emotions id; Type: DEFAULT; Schema: public; Owner: luna_app
--

ALTER TABLE ONLY public.emotions ALTER COLUMN id SET DEFAULT nextval('public.emotions_id_seq'::regclass);


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: luna_app
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: luna_app
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: luna_app
--

COPY public.alembic_version (version_num) FROM stdin;
4b8c9d0e1f2a
\.


--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: luna_app
--

COPY public.conversations (id, user_id, title, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: emotions; Type: TABLE DATA; Schema: public; Owner: luna_app
--

COPY public.emotions (id, user_id, emotion, intensity, note, created_at) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: luna_app
--

COPY public.messages (id, conversation_id, role, content, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: luna_app
--

COPY public.users (id, name, email, password_hash) FROM stdin;
\.


--
-- Name: conversations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: luna_app
--

SELECT pg_catalog.setval('public.conversations_id_seq', 1, true);


--
-- Name: emotions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: luna_app
--

SELECT pg_catalog.setval('public.emotions_id_seq', 1, true);


--
-- Name: messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: luna_app
--

SELECT pg_catalog.setval('public.messages_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: luna_app
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: luna_app
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: luna_app
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: emotions emotions_pkey; Type: CONSTRAINT; Schema: public; Owner: luna_app
--

ALTER TABLE ONLY public.emotions
    ADD CONSTRAINT emotions_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: luna_app
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: luna_app
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: luna_app
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_conversations_id; Type: INDEX; Schema: public; Owner: luna_app
--

CREATE INDEX ix_conversations_id ON public.conversations USING btree (id);


--
-- Name: ix_conversations_user_id; Type: INDEX; Schema: public; Owner: luna_app
--

CREATE INDEX ix_conversations_user_id ON public.conversations USING btree (user_id);


--
-- Name: ix_conversations_user_updated_at; Type: INDEX; Schema: public; Owner: luna_app
--

CREATE INDEX ix_conversations_user_updated_at ON public.conversations USING btree (user_id, updated_at);


--
-- Name: ix_emotions_id; Type: INDEX; Schema: public; Owner: luna_app
--

CREATE INDEX ix_emotions_id ON public.emotions USING btree (id);


--
-- Name: ix_emotions_user_created_at; Type: INDEX; Schema: public; Owner: luna_app
--

CREATE INDEX ix_emotions_user_created_at ON public.emotions USING btree (user_id, created_at);


--
-- Name: ix_emotions_user_id; Type: INDEX; Schema: public; Owner: luna_app
--

CREATE INDEX ix_emotions_user_id ON public.emotions USING btree (user_id);


--
-- Name: ix_messages_conversation_created_at; Type: INDEX; Schema: public; Owner: luna_app
--

CREATE INDEX ix_messages_conversation_created_at ON public.messages USING btree (conversation_id, created_at);


--
-- Name: ix_messages_conversation_id; Type: INDEX; Schema: public; Owner: luna_app
--

CREATE INDEX ix_messages_conversation_id ON public.messages USING btree (conversation_id);


--
-- Name: ix_messages_id; Type: INDEX; Schema: public; Owner: luna_app
--

CREATE INDEX ix_messages_id ON public.messages USING btree (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: luna_app
--

CREATE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: luna_app
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: conversations conversations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: luna_app
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: emotions emotions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: luna_app
--

ALTER TABLE ONLY public.emotions
    ADD CONSTRAINT emotions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: messages messages_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: luna_app
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.conversations(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict EblgE2RwbYER5jBuQEMe7f9Jlopgm8ADgPwc66llfPAjAK4i7wnKcuguyvS3COe

